.topPlayers {
  display: flex;
  justify-content: space-around;
}

.topPlayers > div {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  margin-bottom: 20px;
}

.topPlayers > div.first:before {
  content: "👑";
  display: block;
  font-size: 3rem;
}

.topPlayers > div.first {
  order: 2;
  font-size: 2rem;
}

.topPlayers > div.second {
  order: 1;
  font-size: 1.3rem;
  align-self: flex-end;
}

.topPlayers > div.third {
  order: 3;
  align-self: flex-end;
}

.topPlayers > div.second:before {
  content: "🥈";
  font-size: 3rem;
}

.topPlayers > div.third:before {
  content: "🥉";
  font-size: 1.5rem;
}

.topPlayers .name {
  font-weight: bold;
  text-transform: uppercase;
}

.scoresTable table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.scoresTable thead {
  border-bottom: 1px solid #ccc;
}

.scoresTable th {
  display: none;
}

.scoresTable th, .scoresTable td {
  padding: 20px;
}

.scoresTable td:first-letter {
  text-transform: capitalize;
}

.scoresTable tr:nth-child(even) {
  background-color: rgba(0, 128, 0, 0.1);
}

