.container table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.container tr > *:first-child {
  width: 1%;
  text-align: right;
}

.container thead {
  border-bottom: 1px solid #ccc;
}

.container th, .container td {
  padding: 20px;
}

.container td:first-letter {
  text-transform: capitalize;
}

.container tr:nth-child(even) {
  background-color: rgba(0, 128, 0, 0.1);
}
